<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.CiciesMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.domain.Cicies">
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="localtion" column="localtion" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        name,localtion
    </sql>
</mapper>
